{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load i18n %}
{% block title %}{% trans "Undergraduate Student Change Details" %}{% endblock title %}
{% block content %}

    <div >
     <nav class="navbar navbar-blue bg-primary">
       <h2 class="h2"> {% trans "Signup As Undergraduate Student" %}</h2>
     </nav>
    </div>

  <form method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit" class="btn btn-primary">{% trans "Signup" %}</button>
    <br>
    <br>
  </form>
  {% endblock content %}