{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load i18n %}
{% block title %}{% trans "Carrier Node Change Details" %}{% endblock title %}
{% block content %}
<div class="card ">
  <div class="card-header bg-white text-info">
        <h4>Carrier Node Profile</h4>
  </div>
   <div class="card-body ">
    <div class="container-fluid bg-white">
       <h2 class="h2"> {% trans "Edit Profile" %}</h2>
        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
        </form>
    </div>
  </div>
  <div class="card-footer">
    <button type="submit" class="btn btn-info mt-2">{% trans "Edit" %}</button>
  </div>
</div>
{% endblock content %}