{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{%block title %} {% trans "Home" %} {% endblock title %}
{% block content%}

<div class="card ">
    <div class="card-header bg-white text-info">
        <h4>Carrier Node Profile</h4>
    </div>
    <div class="card-body ">
        <p >Username: {{student.username}}</p>
        <p>email: {{student.email}}</p>
        <p>Title: {{student.title}}</p>
        <p>Father name: {{student.father_name}}</p>
        <p>Mother name: {{student.mother_name}}</p>
        <p>BirthDay: {{student.birth_day}}</p>
        <p>BirthDay: {{student.birth_day}}</p>
        <p>Phone: {{student.msisdn}}</p>
        <p>Phone 2: {{student.tel_no2}}</p>
        <p>Department: {{student.department}}</p>
    </div>
    <div class="card-footer">
        <a href="{% url 'thesis_app:student_update'  %}" class="btn btn-info">Profile Update</a>
    </div>
</div>
{% endblock content %}