{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load carrier_tags %}

{%block title %} {% trans "Job Postings" %} {% endblock title %}
{% block content%}
<h4 class="mb-4">Job Postings</h4>
{% is_active request.user as is_active %}
{% if is_active %}
    <a href="{% url 'carrier:traineeposition_create' %}" class="btn btn-success mt-5 mb-5">Create Job Posting</a>
    <div class="container-fluid border-border-dark" >
        {% if tps %}
        {% for tp in tps %}
            <div class="card mb-5">
                <div class="card-header bg-white text-info">
                    <h4>{{tp.title}}</h4>
                </div>
                <div class="card-body">
                   <div class="card mb-5">
                    <div class="card-header bg-white text-dark">
                        <p>Description:</p>
                    </div>
                    <div class="card-body">
                      <p class="pt-2">{{tp.description}} </p>  
                    </div>
                    <div class="card-footer bg-white">
                      <p>Start date: {{tp.carrier.application_period.from_date}}</p>
                      <p>End Date: {{tp.carrier.application_period.to_date}}</p>
                  </div>
                </div>
                </div>
                <div class="card-footer">
                    <a href="/carrier/traineepositions/{{tp.pk}}/update" class="btn btn-info mb-2 btn-block">Submit</a>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <p>No Job postings found</p>
        <a href="/" class="btn btn-info mb-2 ">Go back</a>
    {% endif %}
    </div>
{% else %}
    <p>Not available assignment period for students! </p>
    <a href="/" class="btn btn-info mb-2 ">Go back</a>
{% endif %}
{% endblock content %}