{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load i18n %}
{% block title %}{% trans "Student" %}{% endblock title %}
{% block content %}

<div class="card">
    <div class="card-header">
        <h2>{% trans "Student" %}</h2>
    </div>
    <div class="card-body">
        <h3>Student details</h3>
        <hr>
        <p><b>Student:</b> {{assignment.trainee.first_name}} {{assignment.trainee.last_name}}</p>
        <p><b>Register Number:</b> {{assignment.trainee.register_number}} </p>
        <hr>
        <h3>Position details</h3>
        <hr>
        <p><b>Position</b> {{assignment.trainee_position.title}}</p>
        <p><b>Carrier:</b> {{assignment.trainee_position.carrier.official_name}} </p>
        <p><b>Assignment period:</b>  <span class="text-info"> {{assignment.assignment_period.from_date}} - {{assignment.assignment_period.to_date}} </span> </p>
        {% if report %}
            <hr>
            <h3>Internship Report </h3>
            <hr>
            <p><b>File: </b><a href="{{report.report_file.url}}">{{report.report_file}} </a> </p>
            <p><b>Date: </b>  <span class="text-info"> {{report.date}}</p>
            <p><b>Comments: </b> {{report.comments}}</p>
            {% if carrier_assesment %}
                <hr>
                <h3>Carrier Assesment</h3>
                <hr>
                <p><b>Date: </b>  <span class="text-info"> {{carrier_assesment.date}}</p>
                <p><b>Comments: </b> {{carrier_assesment.comments}}</p>
                <p><b>Grade: </b> {{carrier_assesment.grade}}</p>
                {% if supervisor_assesment %}
                    <hr>
                    <h3>My Assesment</h3>
                    <hr>
                    <p><b>Date: </b>  <span class="text-info"> {{supervisor_assesment.date}}</p>
                    <p><b>Comments: </b> {{supervisor_assesment.comments}}</p>
                    <p><b>Grade: </b> {{supervisor_assesment.grade}}</p>
                {% else %}
                    </div>
                        <div class="card-footer ">
                            <a  href="{% url 'supervisor:create_assesment' assignment.pk %}" class="btn btn-success ml-3">{% trans "Create Assesment" %}</a>
                        </div>
                {% endif %}
            {% endif %}
        {% endif %}
    </div>
</div>
{% endblock content %}