{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{%block title %} {% trans "Secretarian  Details" %} {% endblock title %}
{% block content%}

<div class="card ">
    <div class="card-header bg-white text-info">
        <h4>Secretarian</h4>
    </div>
    <div class="card-body ">
        <p >Username: {{secretarian.username}}</p>
        <p >First Name: {{secretarian.first_name}}</p>
        <p >Last Name: {{secretarian.last_name}}</p>
        <p>email: {{secretarian.email}}</p>
        <p>Title: {{secretarian.title}}</p>
        <p>Father name: {{secretarian.father_name}}</p>
        <p>Mother name: {{secretarian.mother_name}}</p>
        <p>BirthDay: {{secretarian.birth_day}}</p>
        <p>Mobile Phone: {{secretarian.mobile_phone}}</p>
        <p>Home Phone: {{secretarian.home_phone}}</p>
        <p>Department: {{secretarian.department}}</p>
    </div>
    <div class="card-footer">
        <a href="{% url 'internships_app:secretarian_update'  %}" class="btn btn-info">Profile Update</a>
    </div>
</div>

{% endblock content %}