{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{%block title %} {% trans "Secretarian  Details" %} {% endblock title %}
{% block content%}

<div class="card ">
    <div class="card-header bg-white text-info">
        <h4>Secretarian</h4>
    </div>
    <div class="card-body ">
        <div style="margin-bottom: 1rem;"> 
            <b style="font-size: 1.5rem; "> Username: </b> 
            <span style="font-size: 1.3rem;" > {{secretarian.username}} </span>
        </div>
        <div style="margin-bottom: 1rem;"> 
            <b style="font-size: 1.5rem; "> First Name: </b> 
            <span style="font-size: 1.3rem;" > {{secretarian.first_name}} </span>
        </div>
        <div style="margin-bottom: 1rem;"> 
            <b style="font-size: 1.5rem; "> Last Name: </b> 
            <span style="font-size: 1.3rem;" > {{secretarian.last_name}} </span>
        </div>
        <div style="margin-bottom: 1rem;"> 
            <b style="font-size: 1.5rem; "> Email: </b> 
            <span style="font-size: 1.3rem;" > {{secretarian.email}} </span>
        </div>
        <div style="margin-bottom: 1rem;"> 
            <b style="font-size: 1.5rem; "> Title: </b> 
            <span style="font-size: 1.3rem;" > {{secretarian.title}} </span>
        </div>
        <div style="margin-bottom: 1rem;"> 
            <b style="font-size: 1.5rem; "> Father Name: </b> 
            <span style="font-size: 1.3rem;" > {{secretarian.father_name}} </span>
        </div>
        <div style="margin-bottom: 1rem;"> 
            <b style="font-size: 1.5rem; "> Mother Name: </b> 
            <span style="font-size: 1.3rem;" > {{secretarian.mother_name}} </span>
        </div>
        <div style="margin-bottom: 1rem;"> 
            <b style="font-size: 1.5rem; "> Birth Date: </b> 
            <span style="font-size: 1.3rem;" > {{secretarian.birth_day}} </span>
        </div>
        <div style="margin-bottom: 1rem;"> 
            <b style="font-size: 1.5rem; "> Mobile Phone: </b> 
            <span style="font-size: 1.3rem;" > {{secretarian.mobile_phone}} </span>
        </div>
        <div style="margin-bottom: 1rem;"> 
            <b style="font-size: 1.5rem; "> Home Phone: </b> 
            <span style="font-size: 1.3rem;" > {{secretarian.home_phone}} </span>
        </div>
        <div style="margin-bottom: 1rem;"> 
            <b style="font-size: 1.5rem; "> Department: </b> 
            <span style="font-size: 1.3rem;" > {{secretarian.uni_department}} </span>
        </div>
    </div>
    <div class="card-footer">
        <a href="{% url 'internships_app:secretarian_update'  %}" class="btn btn-lg btn-info">Profile Update</a>
    </div>
</div>

{% endblock content %}