{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block title %} {% trans "Student" %} {% endblock title %}
{% block content%}

<div class="card ">
    <div class="card-header bg-white text-info">
        <h4>Student Profile</h4>
    </div>
    <div class="card-body ">

        <h6>Username:  {{student.username}}</h6>
        <br>
        <h6>First Name:  {{student.first_name}}</h6>
        <br>
        <h6>Last Name:  {{student.last_name}}</h6>
        <br>
        <h6>Title:  {{student.title}}</h6>
        <br>
        <h6>Father name:  {{student.father_name}}</h6>
        <br>
        <h6>Mother name:   {{student.mother_name}}</h6>
        <br>
        <h6>BirthDay:  {{student.birth_day}}</h6>
        <br>
        <h6>Mobile phhone:  {{student.mobile_phone}}</h6>
        <br>
        <h6>Home Phone:  {{student.home_phone}}</h6>
        <br>
        <h6>Department:  {{student.uni_department}}</h6>
        <br>
        <h6>Address: {{student.address}}</h6>
    </div>
    <div class="card-footer">
        <a href="{% url 'internships_app:student_update'  %}" class="btn btn-info">Profile Update</a>
    </div>
</div>
{% endblock content %}