{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block title %} {% trans "Student" %} {% endblock title %}
{% block content%}
    <div class="card">
        <div class="card-header bg-white text-info">
            <h2>Student Profile</h2>
        </div>
        <div class="card-body ">
            <div style="margin-bottom: 1rem;"> 
                <b style="font-size: 1.3rem; "> Username: </b> 
                <span style="font-size: 1.1rem;" > {{student.username}} </span>
            </div>
            <div style="margin-bottom: 1rem;"> 
            <b style="font-size: 1.3rem; "> First name: </b> 
            <span style="font-size: 1.1rem;" > {{student.first_name}} </span>
            </div>
            <div style="margin-bottom: 1rem;"> 
                <b style="font-size: 1.3rem; "> Title: </b> 
                <span style="font-size: 1.1rem;" > {{student.title}} </span>
            </div>
            <div style="margin-bottom: 1rem;"> 
                <b style="font-size: 1.3rem; "> Father name: </b> 
                <span style="font-size: 1.1rem;" > {{student.father_name}} </span>
            </div>
            <div style="margin-bottom: 1rem;"> 
                <b style="font-size: 1.3rem; "> Mother name: </b> 
                <span style="font-size: 1.1rem;" > {{student.mother_name}} </span>
            </div>
            <div style="margin-bottom: 1rem;"> 
                <b style="font-size: 1.3rem; "> Birth date: </b> 
                <span style="font-size: 1.1rem;" > {{student.birth_day}} </span>
            </div>
            <div style="margin-bottom: 1rem;"> 
                <b style="font-size: 1.3rem; "> Mobile Phone: </b> 
                <span style="font-size: 1.1rem;" > {{student.mobile_phone}} </span>
            </div>
            <div style="margin-bottom: 1rem;"> 
                <b style="font-size: 1.3rem; "> Home Phone: </b> 
                <span style="font-size: 1.1rem;" > {{student.home_phone}} </span>
            </div>
            <div style="margin-bottom: 1rem;"> 
                <b style="font-size: 1.3rem; "> Department: </b> 
                <span style="font-size: 1.1rem;" > {{student.uni_department}} </span>
            </div>
            <div style="margin-bottom: 1rem;"> 
                <b style="font-size: 1.3rem; "> Address: </b> 
                <span style="font-size: 1.1rem;" > {{student.address}} </span>
            </div>
        </div>
        <div class="card-footer">
            <a href="{% url 'internships_app:student_update'  %}" class="btn btn-lg btn-info">Profile Update</a>
        </div>
    </div>
{% endblock content %}