{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{%block title %} {% trans "Home" %} {% endblock title %}
{% block content%}

<div class="card ">
    <div class="card-header bg-white text-info">
        <h4>Supervisor Profile</h4>
    </div>
    <div class="card-body ">
        <p >Username: {{supervisor.username}}</p>
        <p>email: {{supervisor.email}}</p>
        <p>Title: {{supervisor.title}}</p>
        <p>Father name: {{supervisor.father_name}}</p>
        <p>Mother name: {{supervisor.mother_name}}</p>
        <p>BirthDay: {{supervisor.birth_day}}</p>
        <p>Mobile Phone: {{supervisor.mobile_phone}}</p>
        <p>Home Phone: {{supervisor.home_phone}}</p>
        <p>Department: {{supervisor.department}}</p>
    </div>
    <div class="card-footer">
        <a href="{% url 'internships_app:supervisor_update'  %}" class="btn btn-info">Profile Update</a>
    </div>
</div>
{% endblock content %}