{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{%block title %} {% trans "Job Postings" %} {% endblock title %}
{% block content%}
<h4 class="mb-4">Positions</h4>
    <div class="container-fluid border-border-dark" >
        {% if tps %}
        {% for tp in tps %}
            <div class="card mb-5">
                <div class="card-header bg-white text-dark">
                    <h4>{{tp.title}}</h4>
                    <h6>Carrier:{{tp.carrier_assignment.carrier.official_name}}</h6x>
                </div>
                <div class="card-body bg-secondary">
                   <div class="card mb-5">
                    <div class="card-header bg-white text-dark">
                        <p>Description:</p>
                    </div>
                    <div class="card-body">
                      <p class="pt-2">{{tp.description}} </p>  
                    </div>
                    <div class="card-footer bg-white">
                        <p> Application Period </p>
                        <p>Start date: {{tp.application_period.from_date}}</p>
                        <p>End Date: {{tp.application_period.to_date}}</p>
                   </div>
                </div>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <p>No Job postings found</p>
        <a href="/" class="btn btn-info mb-2 ">Go back</a>
    {% endif %}
    </div>
{% endblock content %}