{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans "Assignment" %}{% endblock title %}
{% block content %}

{% if message %}
    <div class="row">
        <div class="col col-12">
            <div class="alert alert-danger">{{message}}</div>
        </div>
    </div>
{% endif %}
<div class="card">
    <div class="card-header">
        <h2>{% trans "Assignment information" %}</h2>
    </div>
    <div class="card-body">
        <h3>Student details</h3>
        </br>
        <p><b>Student:</b> {{assignment.trainee.first_name}} {{assignment.trainee.last_name}}</p>
        <p><b>Register Number:</b> {{assignment.trainee.register_number}} </p>
        <hr>
        <h3>Position details</h3>
        </br>
        <p><b>Position</b> {{assignment.trainee_position.title}}</p>
        <p><b>Carrier:</b> {{assignment.trainee_position.carrier.official_name}} </p>
        <p><b>Assignment period:</b>  <span class="text-info"> {{assignment.assignment_period.from_date}} - {{assignment.assignment_period.to_date}} </span> </p>
    </div>
    <div class="card-footer ">
        <a href="{% url 'carrier:assignment_accept' assignment.pk %}" class="btn btn-success ">{% trans "Accept" %}</a>
        <a  href="{% url 'carrier:assignment_reject' assignment.pk %}" class="btn btn-danger ml-3">{% trans "Reject" %}</a>
    </div>
</div>
{% endblock content %}