{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load carrier_tags %}

{%block title %} {% trans "Job Postings" %} {% endblock title %}
{% block content%}
<h4 class="mb-4">Applications</h4>
{% is_application_approval_active request.user as is_application_approval_active %}
{% if is_application_approval_active %}      
    {% if cs %}
            {% for c in cs %}
            <div class="card mb-5">
                <div class="card-header bg-white text-dark">
                    <h6>Carrier:{{c.carrier.official_name}}</h6>
                </div>
                <div class="card-body">
                   <div class="card mb-5">
                    <div class="card-header bg-white text-dark">
                        <p>Description:</p>
                    </div>
                    <div class="card-body">
                      <p class="pt-2">{{c.assignement_upon.trainee.first_name}} </p>  
                      <p class="pt-2">{{c.assignement_upon.trainee.last_name}} </p> 
                    </div>
                    <div class="card-body">
                        <p class="pt-2">{{c.assignement_upon.trainee_position}} </p>  
                      </div>
                    <div class="card-footer bg-white">
                      <p> Assignment Period </p>
                      <p>Start date: {{c.assignement_upon.assignment_period.from_date}}</p>
                      <p>End Date: {{c.assignement_upon.assignment_period.to_date}}</p>
                    </div>
                </div>
                </div>
                <div class="card-footer">
                    <a href="/carrier/consents/{{c.pk}}/accept" class="btn btn-info mb-2 btn-block">Accept</a>
                </div>
            </div>
            {% endfor %}
    {% else %}
        <p>No applications found</p>
        <a href="/" class="btn btn-info mb-2 ">Go back</a>
    {% endif %}
    </div>
{% else %}
    <p>Not application approval phase still.</p>
    <a href="/" class="btn btn-info mb-2 ">Go back</a>
{% endif %}
{% endblock content %}