{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load i18n %}
{% block title %}{% trans "Accept/Reject student application" %}{% endblock title %}
{% block content %}
  <h2>{% trans "Accept/Reject student application" %}</h2>
  <form method="post">
    <p>Carrier : {{object.carrier}}</p>
    
    <p>Student : {{object.assignement_upon.trainee.first_name}} {{object.assignement_upon.trainee.last_name}}</p>
 
    <p>Department : {{object.assignement_upon.trainee.department}}</p>
    <p>Email: {{object.assignement_upon.trainee.email}}</p>
    <p>Assignment start date: {{object.assignement_upon.assignment_period.from_date}}</p>
    <p>Assignment ending date: {{object.assignement_upon.assignment_period.to_date}}</p>
    {% csrf_token %}
    {{ form|crispy }}
    <form method="post">{% csrf_token %}
     <button type="submit" class="btn btn-info">{% trans "Update" %}</button>
    </form>
    <br>
    <br>
  </form>
  {% endblock content %}