{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load carrier_tags %}
{% load bootstrap %}
{% block title %} {% trans "Job Postings" %} {% endblock title %}
{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/app.css' %}">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/rowreorder/1.2.8/css/rowReorder.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.9/css/responsive.dataTables.min.css">
    <h3 class="mb-3"> {{ request.GET.department }} Job Postings</h3>
    <div class="container-fluid border-border-dark" >
        {% if filter.qs %}
            {% for i in filter.qs|slice:"0:1"%}
            <h5 class="mt-4"> Carrier Assignment period for University Department : {{i.carrier_assignment.department}} <br> <br> <hr> Starting date: {{i.carrier_assignment.from_date}} <br> <br> <hr> Ending date:  {{i.carrier_assignment.to_date}} </h5>
            {% endfor %}
            <br>
            <br>
            {% if assignment_period  %}
                <a href="{% url 'carrier:traineeposition_create'%}?department={{ request.GET.department }}" class="btn btn-lg btn-success mb-2 ">Add Job position</a>
            {% endif %}
            <button class="btn btn-info mb-4" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                Search filters
             </button>
             <div class="collapse mt-4 mb-4" id="collapseExample">
                <form  class='form-group' method="GET">
                    {{ filter.form|bootstrap_horizontal}}
                    <button type="submit" class="btn btn-info">Search</button>
                </form>
             </div>
            <br>
            <br>
            <table id="datatable" class="table align-items-center table-flush">
                <thead class="bg-light">
                    <tr>
                    <th scope="col">{% trans "Title" %}</th>
                    <th scope="col">{% trans "Job ID" %}</th>
                    <th scope="col">{% trans "Created" %}</th>
                    <th scope="col">{% trans "Status" %}</th>
                    <th scope="col">{% trans "Action" %}</th>
                    <th scope="col>">{% trans "Department"%}</th>
                    <th scope="col">{% trans "Description" %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for tp in filter.qs %}
                        <tr>
                        <td>{{tp.title}}</td>
                        <td>{{tp.job_code}}:{{tp.no_id}}</td>
                        <td>{{tp.created}}</td>
                         {% if  tp.finalized == False %}
                             <td>Pending</td>
                         {% else %}
                            <td>Accepted</td>
                         {% endif %}
                         <td>
                            {% if assignment_period %}
                                <a href="/carrier/traineepositions/{{tp.pk}}/update?department={{ request.GET.department }}" class="btn btn-info mb-2 btn-block">Edit </a>
                                <a href="/carrier/traineepositions/{{tp.pk}}/delete?department={{ request.GET.department }}" class="btn btn-danger btn-block" >Delete </a>
                            {% endif %}
                        </td>
                        <td>{{tp.carrier_assignment.department}}</td>
                        <td>{{tp.description}}</td>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
        {% if assignment_period %}
                <h5>No Job postings found</h5>
                <h5>Do you want to create a new job posting?</h5>
                <br>
            <a href="{% url 'carrier:traineeposition_create'%}?department={{ request.GET.department }}" class="btn btn-success mb-2 ">Create Job position</a>
            {% else %}  
            <div class="alert alert-danger"><h4>Carrier assignment period not found</h4></div>
                <br>
            {% endif %}
            <a href="/" class="btn btn-info mb-2 ">Go back</a>
        {% endif %}
    </div>
    <script type="text/javascript"
        src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js">
    </script>
    <script type="text/javascript"
        src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js">
    </script>
    <script type="text/javascript">
        $('#datatable').DataTable({
                "ordering" : false,
            });
    </script>
{% endblock content %}

