{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load carrier_tags %}

{% block title %} {% trans "Job Postings" %} {% endblock title %}

{% block content %}
<h4 class="mb-4">Job Postings</h4>
{% is_active request.user as is_active %}
{% if is_active %}
    <a href="{% url 'carrier:traineeposition_create' %}" class="btn btn-success mt-5 mb-5">Create Job Posting</a>
    <div class="container-fluid border-border-dark" >
        {% if tps %}
        {% for i in tps|slice:"0:1"%}    
           <h4> Carrier assignement period for {{i.carrier_assignment.carrier.official_name}} is from {{i.carrier_assignment.from_date}} to  {{i.carrier_assignment.to_date}} </h4>
        {% endfor %}  
        </br>
        </br>
        {% for tp in tps %}
            <div class="card mb-5">
                <div class="card-header bg-white text-dark">
                    <h4>{{tp.title}}</h4>
                    <h6>Carrier:{{tp.carrier_assignment.carrier.official_name}}</h6>
                </div>
                <div class="card-body">
                   <div class="card mb-5">
                    <div class="card-header bg-white text-dark">
                        <p>Description:</p>
                    </div>
                    <div class="card-body">
                      <p class="pt-2">{{tp.description}} </p>  
                    </div>
                    <div class="card-footer bg-white">
                      <p> Carrier Assingment Period </p>
                      <p>Start date: {{tp.carrier_assignment.from_date}}</p>
                      <p>End Date: {{tp.carrier_assignment.to_date}}</p>
                    </div>
                </div>
                </div>
                <div class="card-footer">
                    <a href="/carrier/traineepositions/{{tp.pk}}/update" class="btn btn-info mb-2 btn-block">Edit </a>
                    <form  action="/carrier/traineepositions/{{tp.pk}}/delete" method="GET" > 
                    <button type="submit" class="btn btn-danger btn-block" > Delete </button>
                   </form>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <p>No Job postings found</p>
        <a href="/" class="btn btn-info mb-2 ">Go back</a>
    {% endif %}
    </div>
{% else %}
    <p>No available carrier assignment period! </p>
    <a href="/" class="btn btn-info mb-2 ">Go back</a>
{% endif %}
{% endblock content %}