<!-- templates/base.html -->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <link href="//cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="//cdn.bootcss.com/bootstrap-datetimepicker/4.17.44/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
    <script src="//cdn.bootcss.com/jquery/3.0.0/jquery.min.js"></script>
    <script src="//cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="//cdn.bootcss.com/moment.js/2.17.1/moment.min.js"></script>
    <script src="//cdn.bootcss.com/bootstrap-datetimepicker/4.17.44/js/bootstrap-datetimepicker.min.js"></script>
    <title>{% block title %} Ιnternship App Hua {% endblock %}</title>
  </head>
  <body>
    {% load i18n %}
    <div class="header navbar-expand-lg navbar-dark bg-info text-white"	>
      <div class="container">
    </div>
    </div>

  {% if user.is_authenticated %}
    {% for group in user.groups.all %}
      {% if group.name == 'applicant'  %}
        <nav class="navbar navbar-expand-lg navbar-dark bg-info text-white "	>
          <a href="{% url '' %}" class="navbar-brand" >
          </a>
          <ul class="navbar-nav ml-auto">
            <li class="nav-item"><a  href="{% url '' %}"
              class="nav-link"><i class="far fa-calendar-alt"></i>{% trans "Open Calls" %} </a></li>
            <li class="nav-item"><a
              href="{% url 'applicant:applicant_profile' %}" class="nav-link "><i class="far fa-address-card"></i>{% trans "Profile" %}</a></li>
            <li class="nav-item"><a href="{% url '' %}"
              class="btn btn-outline-light "><i class="fa fa-sign-out"></i>{% trans "Logout" %}</a></li>
          </ul>
        </nav>
        {% elif group.name == 'evaluator'  %}
        <nav class="navbar navbar-expand-lg navbar-dark bg-info text-white"	>
          <a class="navbar-brand"  href="{% url '' %}">
           
          </a>
          <ul class="navbar-nav ml-auto">
            <li class="nav-item"><a  href="{% url '' %}"
              class="nav-link"><i class="fas fa-clipboard-list"></i> {% trans "Applications" %} </a></li>
            <li class="nav-item"><a
              href="{% url '' %}" class="nav-link "><i class="far fa-address-card"></i>{% trans "Profile" %}</a></li>
            <li class="nav-item"><a href="{% url '' %}"
              class="btn btn-outline-light "><i class="fa fa-sign-out"></i>{% trans "Logout" %} </a></li>
          </ul>
        </nav>
        {% endif %}
        {% empty %}
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary text-white"	>
          <a class="navbar-brand" >
            
          </a>
          <ul class="navbar-nav ml-auto">
            <li class="nav-item"><a href="{% url '' %}"
              class="btn btn-outline-light "><i class="fa fa-sign-out"></i>{% trans "Logout" %} </a></li>
          </ul>
        </nav>
       {% endfor %}

       {% else %}
       <nav class="navbar navbar-expand-lg navbar-dark bg-primary text-white "	>
        <a class="navbar-brand" >
          
        </a>
      </nav>
    {% endif %}


      {% for message in messages %}
  <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
    {% if message.tags == 'success' %}
    <i class="fa fa-check-circle"></i> {{ message }}
    {% else %}
    <i class="fa fa-exclamation-circle"></i> {{ message }}
    {% endif %}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  {% endfor %}

<div class="container flex-grow-1">
{% block content %}
{% endblock %}
</div>
<!--
<div class="container container-fluid">
 <footer class="page-footer  font-small text-info pt-4 bg-primary ">

  <div class="container-fluid text-center">
  {% trans "Harokopio University" %} / 70,{% trans "El. Venizelou" %} / {% trans "Kallithea" %} 17671 /{% trans "Athens" %} - {% trans "GREECE" %}
              {% trans "Tel" %}. +30 2109549100 / {% trans "Fax" %}. +30 2109577050 
  </div>

  <div class="footer-copyright text-center py-3">© {% now 'Y' %} Copyright:
    <a href="https://www.hua.gr/index.php/en/"> HUA</a>
  </div>
-->

 </footer>
</div>

</html>
