<!-- templates/home.html-->
{% extends 'base.html' %}

{% block title %}Home{% endblock %}
 {% load bootstrap_icons %}
 {% block content %}
 
  {% if user.is_authenticated %}
    Hi {{ user.username }} from DIT!
   <p><a href="{% url 'logout' %}">Log Out</a></p>
 {% else %}
 
 <div class="card bg-secondary d-flex p-2 my-auto">
    <div class="container d-inline-flex p-4">
    <div class="card-body bg-white border  ">
     <blockquote class="blockquote mb-0 text-center">
      <h4 class="nav-link text-dark col "> You are not logged in!</h4>
            <a  href="/accounts/login"
              class="text-info text-center pr-5">Login</a>
            <a  href="/accounts/register/carrier_node"
                class="text-info text-center">Register<a/>
     </blockquote>
    </div>
  </div>
</div>
 
{% endif %}

{% endblock %}