{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block title %} {% trans "Student" %} {% endblock title %}
{% block content%}
{% load bootstrap %}
{% if message %}
  {{message}}
{% endif %}
<form  class='form-group' method="GET">
    {{ filter.form|bootstrap}}
    <button type="submit" class="btn btn-info btn-lg ">Search</button>
</form>
<table id="datatable" class="table align-items-center table-flush">
    <thead class="bg-light">
        <tr>
        <th scope="col">{% trans "Title" %}</th>
        <th scope="col">{% trans "Carrier" %}</th>
        <th scope="col">{% trans "Job Code" %}</th>
        <th scope="col">{% trans "Created at" %}</th>
        <th scope="col">{% trans "Accepted" %}</th>
        <th scope="col">{% trans "Department" %}</th>
        <th scope="col">{% trans "Action" %}</th>
        </tr>
    </thead>
    <tbody>
        {% for tp in filter.qs %}                                                            
        <tr>
            <td>{{tp.title}}</td>
            <td>{{tp.carrier.official_name}}</td>
            <td>{{tp.job_code}}:{{tp.no_id}}</td>
            <td>{{tp.created}}</td>
            {% if tp.finalized == False %}
            <td class="text-right row">
                <div class="btn-group" role="group">
                    <div class="col-md-5 custom">
                        <button type="button" class="btn btn-sm btn-success"> <a class="text-white" href="/secretary/carriers/trainee_positions/{{tp.id}}/accept"> Accept</button>        
                    </div>
                    <div class="col-md-5 custom">
                        <form action="" method="POST">
                            <button type="button" class="btn btn-sm btn-danger"> <a class="text-white" href="/secretary/carriers/trainee_positions/{{tp.id}}/delete"> Reject</button>
                        </form>
                    </div>
                </div>
            </td>
            {% else %}
             <td>YES</td>
           {% endif %}
            <td>{{tp.carrier_assignment.department}}</td>
            <td>
                <a class="btn btn-outline-info" href="/secretary/carriers/trainee_positions/{{tp.id}}/edit">{% trans "View" %}</a>
            </td>
       </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}