{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block title %} {% trans "Student" %} {% endblock title %}
{% block content%}
{% if message %}
  {{message}}
{% endif %}
<table id="datatable" class="table align-items-center table-flush">
    <thead class="bg-light">
        <tr>
        <th scope="col">{% trans "First Name" %}</th>
        <th scope="col">{% trans "Last Name" %}</th>
        <th scope="col">{% trans "Email" %}</th>
        <th scope="col">{% trans "Department" %}</th>
        <th scope="col">{% trans "Active" %}</th>
        <th scope="col">{% trans "Action" %}</th>
        </tr>
    </thead>
    <tbody>
        {% for pref in preferences %}
        <tr>
            <td>{{pref.first_name}}</td>
            <td>{{pref.last_name}}</td>
            <td>{{pref.email}}</td>
            <td>{{pref.department}}</td>
            {% if pref.is_active == False %}
              <td>NO</td>
            {% else %}
             <td>YES</td>
           {% endif %}
            <td>
                <a class="btn btn-outline-info" href="/secretary/students/registrations/{{stud.id}}/edit">{% trans "View" %}</a>
            </td>
       </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}
