{% extends 'base.html' %}
{% block title %}Home{% endblock %}
 {% load bootstrap_icons %}
 {% block content %}
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-12 d-flex justify-content-center">
                <div class="error-template">
                    <h1>Oops!</h1>
                    <h1>404 Not Found</h1>
                    <div class="error-details mt-5">
                        Sorry, an error has occured.Requested page not found!
                    </div>
                    <div class="error-actions mt-5">
                        <a href="/" class="btn btn-lg  btn-info">
                            <span class="glyphicon glyphicon-home ">Take Me Home</span>
                        </a>
                        <a href="https://dit.hua.gr" class="btn btn-lg btn-info ml-5">
                            <span class="glyphicon glyphicon-envelope ">Contact Support</span> 
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
